<!DOCTYPE html>
<html>
<head>
<!--<meta charset="ISO-8859-1">-->
    <meta charset="UTF-8">
<title>Technology meant to help people, why not </title>


<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
    
<script src=js/app.js></script>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc.5/docs.css'>

        <link rel="stylesheet" href="css/style.css">
    
    
<link rel=stylesheet href="css/1PHomeStyles.css">
    
</head>
<body ng-app="1PHomeApp" ng-controller="1PHomeController">

    <div id='header'>
        header
        <img src="images/icnOffice.png">
        <B class='logoHead'>Technology meant to help people, why not orp...</B>
        
        <div ng-controller="DemoBasicCtrl as ctrl" ng-cloak="" class="menuBardemoBasicUsage" >
          <md-toolbar class="md-menu-toolbar">
            <div layout="row">
<!--
              <md-toolbar-filler layout="" layout-align="center center">
                <md-icon md-svg-icon="call:chat"></md-icon>
              </md-toolbar-filler>
-->

              <div>
                
                <md-menu-bar>
                  <md-menu>
                    <button ng-click="$mdOpenMenu()">
                      File
                    </button>
                    <md-menu-content>
                      <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                          Share...
                        </md-button>
                      </md-menu-item>
                      <md-menu-divider></md-menu-divider>
                      <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                          Open...
                        </md-button>
                      </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                    <md-menu>
                    <button ng-click="$mdOpenMenu()">
                      Books for
                    </button>
                    <md-menu-content>
                      <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                          1st std...
                        </md-button>
                      </md-menu-item>
                      <md-menu-divider></md-menu-divider>
                      <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                          2nd std...
                        </md-button>
                      </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-menu-bar>
                </div>
              </div>
            </md-toolbar>
        </div>
        
        
    </div>
    <div id='middle'>
        
        <div id='left'>
        left
        </div>
        <div id='center'>
          center - All center content goes here
        </div>
        <div id='right'>
          right
        </div>
        
    </div>
    <div id='footer'>
        
        <h2>{{x}}</h2>
        <h3>{{y}}</h3>
        <input type='text' value='guest' ng-model="Pname" />
        <h3>Name : {{Pname}}</h3>
        <a href='ChildMaster.html'> Child Info</a>
    
    </div>
    
<!--
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
-->
    
<script src="js/index.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js'></script>

<!--    <script src="js/index.js"></script>-->

    
</body>
</html>